<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration Form</h1>

    <form action="">
        <div>
            <input type="text" name="username" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" required="">
        </div>
        <div>
            <input type="email" name="email" placeholder="Email" aria-label="Email"
                aria-describedby="basic-addon1" required="">
        </div>
        <div>
            <input type="text" name="password" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1" required="">
        </div>

        <div>
            <button type="submit">SignUp</button>
        </div>
    </form>


</body>
</html>