<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="bg-black/70 text-white px-6 py-4 flex justify-between">
    <h1 class="text-xl font-bold">Task Manager</h1>

    <div class="space-x-4">
        <a href="/tasks">My Tasks</a>
        <a href="/tasks/create">Create Task</a>
        <a href="/logout" class="text-red-400">Logout</a>
    </div>
</nav>

</body>
</html>